<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мессенджер</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/chat-list.css}">
</head>
<body>
    <div class="header">
        <div class="logo">Logo</div>
        <div class="nav">
            <button class="nav-button active">Чаты</button>
            <button id="contact-button" class="nav-button">Контакты</button>
            <!-- Кнопка для создания нового чата -->
            <button id="create-chat-button" class="nav-button">Создать чат</button>
        </div>
    </div>

    <div class="chat-list">
        <div class="chat-item">
            <div class="chat-info" th:each="chat : ${chatList}">
                <span class="chat-name" th:text="${chat.chatName}">Название чата</span>
                <span class="chat-description" th:text="${chat.lastMessage.messageText}"></span>
            </div>
        </div>
    </div>

    <!-- Скрипт для обработки клика по кнопке создания чата -->
    <script>
        document.getElementById('create-chat-button').addEventListener('click', function() {
            window.location = "/chats/create-chat";
        });
		document.getElementById('contact-button').addEventListener('click', function() {
		            window.location = "/contact/contacts";
		        });
    </script>
</body>
</html>
