<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Мессенджер</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
	<link rel="stylesheet" href="/css/styles.css">
	<link rel="stylesheet" href="/css/header.css">
</head>
<body>
	<header class="header">
		    <div class="header-content">
		        <div class="logo">Мессенджер</div>
		        <div class="nav">
		            <button onclick="window.location.href='/chats'" id="chats-button" class="nav-button"><i class="fas fa-comments"></i> Чаты</button>
		            <button onclick="window.location.href='/contact/contacts'" id="contact-button" class="nav-button"><i class="fas fa-address-book"></i> Контакты</button>
					<button onclick="window.location.href='/chats/create-chat'" id="create-chat-button" class="nav-button"><i class="fas fa-comment-medical"></i> Создать чат</button>
					<button onclick="window.location.href='/logout'" id="logout-button" class="nav-button"><i class="fas fa-sign-out-alt"></i> Выйти</button>
		        </div>
		    </div>
	</header>

    <div class="sidebar" id="sidebar">
        <div class="sidebar-content">
            <h3>Меню</h3>
            <ul class="sidebar-list">
                <li class="sidebar-item"><a href="/chats" class="sidebar-link">Мессенджер</a></li>
                <li class="sidebar-item"><a href="/contact/contacts" class="sidebar-link">Контакты</a></li>
                <li class="sidebar-item"><a th:href="@{/logout}" class="sidebar-link">Выйти</a></li>
            </ul>
        </div>
    </div>

    <main class="main-content">
        <h2 class="text-center">Мои чаты</h2>
        <div class="chat-list">
            <div th:each="chat : ${chats}" class="chat-card">
                <a th:href="@{/chats/} + ${chat.id}" style="text-decoration: none; color: inherit;">
                    <h3 th:text="${chat.chatName}">Название чата</h3>
                    <p th:if="${chat.lastMessage}" th:text="${chat.lastMessage.messageText}">Последнее сообщение...</p>
                </a>
            </div>
        </div>
    </main>

    <script>
        const menuBtn = document.getElementById('menu-btn');
        const sidebar = document.getElementById('sidebar');
        
        menuBtn.addEventListener('click', () => {
            sidebar.classList.toggle('open');
        });
        
        document.getElementById('add-chat-btn').addEventListener('click', () => {
            window.location.href = '/chats/create-chat';
        });
    </script>
</body>
</html>